<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>就找我</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="http://static.9zhaowo.com/assets/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!--<link rel="icon" sizes="192x192" href="http://static.9zhaowo.com/assets/i/app-icon72x72@2x.png">-->

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="http://static.9zhaowo.com/assets/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="http://static.9zhaowo.com/assets/css/amazeui.css">
    <link rel="stylesheet" href="http://static.9zhaowo.com/assets/css/app.css">
    
    <style id="bgtyle"  type="text/css">

    </style>
</head>
<body style="background-color: #F0EFF4;padding-bottom:0px">
    <div id="container" class="am-container" style="padding: 0px;">

    <!-- page_main start -->
    <div id="page_main" style="">
        <header name="header" data-am-widget="header" class="am-header am-header-default" style="background-color:rgba(0, 0, 0, 0.59)">
            <div class="am-g">
                <div class="am-u-sm-2">
                    <i class="am-header-icon am-icon-bars" style="font-size:30px;color:#fff"></i>
                </div>
                <div class="am-u-sm-8" style="padding-top: 7px">
                    <form id="formSearch" action="/search">
                    <div class="am-form-group am-form-icon">
                        <input id="searchInput" type="search" class="am-form-field my_search" placeholder="找人 找服务">
                        <span class="am-icon-search"></span>
                    </div>
                    </form>
                </div>
                <div class="am-u-sm-2">
                    <a href="/personal" class="front_link am-header-icon am-icon-user" style="color:#fff;font-size: 30px;float: right"></a>
                </div>
            </div>
        </header>

        <div id="list_msg" style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto; display: none; margin: 10px 10px;color: #A8A8A8;">
            <p><i id="list_msg_txt"></i></p>
            <hr data-am-widget='divider' style='margin: 5px 0px;' class='am-divider am-divider-default' />
        </div>

        <div id="indus_panel" style='background-color: #E3E3EA;' class='userBack'>
            <p style="margin:0 0 5px 15px;"><i class="am-icon-fire" style="margin-right:10px;color:#D22020;font-weight:bold;font-size: 90%"></i>行业分类</p>
            <ul style="font-size: 80%;line-height:26px;padding-left:15px;margin: 8px 0 8px 0">
                <li id="yxtg"><a href="/page/0?industry=营销推广" class="plat_href" >营销推广</a></li>
                <li id="wzkf"><a href="/page/0?industry=网站开发" class="plat_href" >网站开发</a></li>
                <li id="tstz"><a href="/page/0?industry=天使投资" class="plat_href" >天使投资</a></li>
                <li id="qzzp"><a href="/page/0?industry=招聘求职" class="plat_href" >招聘求职</a></li>
                <li id="tzlc"><a href="/page/0?industry=投资理财" class="plat_href" >投资理财</a></li>
                <li id="mgsj"><a href="/page/0?industry=美工设计" class="plat_href" >美工设计</a></li>
                <li id="px"><a href="/page/0?industry=培训" class="plat_href" >培训</a></li>
                <li id="qt"><a href="/page/0?industry=其他" class="plat_href" >其他</a></li>
            </ul>
        </div>

        <!-- user list -->
        <div id="user_list">
            {{#userList.users}}
            <div id='{{uid}}' class="userBack">
                <div class='am-g am-intro-bd' style='background-color: white;padding: 10px 0 10px 0'>
                    <div class='am-intro-left user_left'>
                        <a href='/specialist/{{uid}}' class='front_link'>
                            <img class='avatar_list'   src='{{avatar}}' alt='头像' width='64px' height='64px'/>
                        </a>
                        <div style="padding: 5px 0px 0px 12px" class="name_color">
                        {{name}}
                        </div>
                    </div>
                    <div class='am-intro-right user_right'>
                       <p style='margin: 0px;'>
                           <strong style="color: #f37b1d">{{city_short}} . {{company}} . {{position}}</strong>
                        </p>
                       <hr data-am-widget='divider' style='margin: 5px 0px;' class='am-divider am-divider-default' />
                    </div>
                    <div class='am-intro-right user_right'>
                        <p style='margin: 0.5rem 0 0 0;color: #5eb95e'>
                            服务：{{service}}</p>
                        <p style='margin: 0.5rem 0 0 0;font-size: 90%'>
                            简介：{{shortIntro}}
                        </p>
                    </div>
                </div>
            </div>
            {{/userList.users}}
        </div>
        
       <div id="user_list_template" style="display:none">
            {#users}
               <div id='{uid}' class="userBack">
                   <div class='am-g am-intro-bd' style='background-color: white;padding: 10px 0 10px 0'>
                       <div class='am-intro-left user_left'>
                           <a href='/specialist/{uid}' class='front_link'>
                               <img class='avatar_list'   img_url_xxx alt='头像' width='64px' height='64px'/>
                           </a>
                           <div style="padding: 5px 0px 0px 12px" class="name_color">
                               {name}
                           </div>
                       </div>
                       <div class='am-intro-right user_right'>
                           <p style='margin: 0px;'>
                               <strong style="color: #f37b1d">{city_short} . {company} . {position}</strong>
                           </p>
                           <hr data-am-widget='divider' style='margin: 5px 0px;' class='am-divider am-divider-default' />
                       </div>
                       <div class='am-intro-right user_right'>
                           <p style='margin: 0.5rem 0 0 0;color: #5eb95e'>
                               服务：{service}</p>
                           <p style='margin: 0.5rem 0 0 0;font-size: 90%'>
                               简介：{shortIntro}
                           </p>
                       </div>
                   </div>
               </div>
            {/users}
        </div>
        
        <!-- page select start -->
        <ul data-am-widget="pagination" class="front_link am-pagination am-pagination-default">
            <li class="am-pagination-prev">
                <a id="page_prev" href="#" class="front_link am-btn am-btn-link page_ctrl">上一页</a>
            </li>
            <li class="am-pagination-next ">
                <a id="page_next" href="/page/1"  class="front_link am-btn am-btn-link page_ctrl">下一页</a>
            </li>
        </ul>

        <div style="background-color: #333;margin-left: auto;margin-right: auto" id="footer" >
            <div class="footer-link" style="padding-top: 30px">
                <a href="/" style="color: #ddd">首页</a>
                <span class="split"></span>
                <a href="#" style="color: #ddd">关于我们</a>
                <span class="split"></span>
                <a href="#" style="color: #ddd">联系我们</a>
            </div>
            <p class="footer-info" style="color:#666;text-align: center;font-size:80%;margin:0;padding: 10px 0 10px 0">©2015&nbsp;就找我 京ICP备09043258号-9</p>
        </div>
    </div>
    <!-- page_main end -->

    <!-- page_msg start -->
    <div id="page_msg" style="display:none">

        <div id="msg_container">
        </div>

        <div id="msg_template_container" style="display:none">
            <article class="am-comment " id="msg_template">
            {#each msgs}
            <div class="am-comment-main comment-margin">
                <header class="am-comment-hd">
                    <div class="am-comment-meta">
                        <a href="#link-to-user" class="am-comment-author">{peer_name}</a>
                    </div>
                </header>

                <div class="am-comment-bd msg_bk_color">
                    {#each content}
                    {#if inMsg}
                    <div class="am-g msg_join">
                        <div><small>{time}</small></div>
                        <div class="avatar_peer">
                            <img class='am-radius ' peer_avatar_src alt='头像' width='40px' height='40px'/>
                        </div>
                        <div class="msg_peer">
                            <div class="msg_peer_text">{msg}</div>
                        </div>
                    </div>
                    {else}
                    <div class="am-g msg_join" >
                        <div><small>{time}</small></div>
                        <div class="msg_self"><div class="msg_self_text">{msg}</div></div>
                        <div class="avatar_self"><img class='am-radius ' self_avatar_src alt='头像' width='40px' height='40px'/></div>
                    </div>
                    {/if}
                    {/each}

                <div class="am-input-group">
                    <input type="text" class="am-form-field" id="msg_res">
                      <span class="am-input-group-btn">
                        <button class="am-btn am-btn-default" type="button" id="bt_msg_res" onclick="msg_send({uid},{peer_uid})">回复</button>
                      </span>
                </div>
                </div>
            </div>
            {/each}
        </article>
        </div>

        <div id="be_spec" class="am-g" style="display: none;margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
            <div style="margin: 0 auto">
                <a href="#">更多</a>
            </div>
        </div>
        <div class="bottomNav">
            <a href="/page_user" class="back_link"><i class="am-icon-angle-left am-icon-md" style="padding-left:20px"></i></a>
        </div>
    </div>
    <!-- page_msg end -->

    <!-- page_edit start -->
    <div id="page_edit" style="display:none">
        <div class="am-g" style="    background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
            <div class="am-u-sm-3" style="padding-left:20px">姓名</div>
            <div class="am-u-sm-3" style="padding-left:20px;width: 74%">
                <input   id="edit_name" style="background-color:transparent;border:0px;width:100%;line-height: 28px;margin:-10px" value="{{user.info.name}}" placeholder="点击 输入姓名">
            </div>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
            <div class="am-u-sm-3" style="padding-left:20px">手机号</div>
            <div class="am-u-sm-3" style="padding-left:20px;width: 74%">
                <input   id="edit_phone" style="background-color:transparent;border:0px;width:100%;line-height: 28px;margin:-10px" value="{{user.info.mobile}}" placeholder="点击 输入号码">
            </div>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
            <div class="am-u-sm-3" style="padding-left:20px">地区</div>
            <div class="am-u-sm-3" style="padding-left:20px;width: 74%">{{user.info.city}}</div>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
            <div class="am-u-sm-3" style="padding-left:20px">行业</div>
            <div class="am-u-sm-3" style="padding-left:20px;width: 74%">
                <input   id="edit_industry" style="background-color:transparent;border:0px;width:100%;line-height: 28px;margin:-10px" value="{{user.info.industry}}" placeholder="点击 输入领域">
            </div>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
            <div class="am-u-sm-3" style="padding-left:20px">标签</div>
            <div class="am-u-sm-3" style="padding-left:20px;width: 74%">
                <input   id="edit_tag" style="background-color:transparent;border:0px;width:100%;line-height: 28px;margin:-10px" value="{{user.info.tag}}" placeholder="点击 输入标签">
            </div>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
            <div class="am-u-sm-3" style="padding-left:20px">简介</div>
            <div class="am-u-sm-3" style="padding-left:20px;width: 74%">
                <textarea  id='edit_intro' style="background-color:transparent;border:0px;width:100%;line-height: 28px;margin:-10px" rows='5'  placeholder="点击 输入简介" >{{user.info.introduce}}</textarea>
            </div>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
            <div style="padding-left:0 20px">
                <button id="editCommit" type="button" class="am-btn am-btn-secondary am-btn-block am-disabled" onclick="commit_edit">提交修改</button>
            </div>
        </div>

        <div class="bottomNav">
            <a href="/page_user" class="back_link"><i class="am-icon-angle-left am-icon-md" style="padding-left:20px"></i></a>
        </div>

    </div>
    <!-- page_edit end -->

    <!-- page_personal start -->
    <div id="page_personal" style="display:none">
        <div class="am-g" style="    background-color: white;    margin-top: 20px;    padding-top: 20px;    padding-bottom: 20px;">
            <div class="am-u-sm-3">
                <img class="am-radius am-img-thumbnail" alt="140*140" src="{{user.info.avatar}}" width="140" height="140"/>
            </div>
            <div class="am-u-sm-9">
                <div class="am-u-sm-12">{{user.info.name}}</div>
                <div class="am-u-sm-12">{{user.info.specialist}}</div>
            </div>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 30px;    padding-top: 10px;    padding-bottom: 10px;">
            <a href="/edit" class="front_link">
                <div style="padding-left:20px">资料</div>
            </a>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
            <a href="/msg" class="front_link">
                <div style="padding-left:20px">私信</div>
            </a>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
            <a href="/specialist/{{user.info.uid}}" class="front_link">
                <div style="padding-left:20px">个人主页</div>
            </a>
        </div>

        <div id="be_spec" class="am-g" style="display: none;background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
            <div style="padding-left:0 20px">
                <button id="editCommit" type="button" class="am-btn am-btn-secondary am-btn-block" onclick="commit_edit">申请成为行家</button>
            </div>
        </div>

        <div class="bottomNav">
            <a href="/" class="back_link"><i class="am-icon-angle-left am-icon-md" style="padding-left:20px"></i></a>
        </div>
    </div>
    <!-- page_personal end -->

    <!-- page_search start-->
    <div id="page_search" style="display:none">
        <div class="am-g" style="    background-color: white;    margin-top: 30px;    padding-top: 10px; padding-bottom: 10px;">
            <div class="am-u-sm-3" style="padding-left:20px">关键字</div>
            <div class="am-u-sm-9" style="padding-left:20px">
                <input type="text" id="search_key" class="am-form-field am-radius" />
            </div>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 5px;    padding-top: 10px; padding-bottom: 10px;">
            <div class="am-u-sm-3" style="padding-left:20px">区域</div>
            <div class="am-u-sm-9" style="padding-left:20px">
                <input type="text" id="search_city" class="am-form-field am-radius" />
            </div>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 5px;    padding-top: 10px; padding-bottom: 10px;">
        <div class="am-u-sm-3" style="padding-left:20px">行业</div>
        <div class="am-u-sm-9" style="padding-left:20px">
            <input type="text" id="search_indus" class="am-form-field am-radius" />
        </div>
        </div>

        <div style="z-index:999; position:fixed; bottom:0; left:0; width:100%; _position:absolute;padding-top: 5px;height:49px">
            <a href="/search" id="advSearch" class="am-btn am-btn-primary" style="width: 100%;">搜索</a>
        </div>
    </div>
    <!-- page_search end -->

     <!-- page_specialist template -->
     <div id="page_specialist" style="display:none">
        <div data-am-widget="intro" class="am-intro am-cf am-intro-default">
            <div class="am-intro-hd">
                <h2 class="am-intro-title">{name}</h2>
                <a class="am-intro-more am-intro-more-top " href="#more">{special}</a>
            </div>

            <div class="am-g am-intro-bd" style="background-color: white;">
                <div class="am-intro-left am-u-sm-5"><img class="am-radius am-img-thumbnail" img_url_xxx alt="头像" width="80px" height="80px"/></div>
                <div class="am-intro-right am-u-sm-7">
                    <p>{name}</p>
                    <p>地区: {city}</p>
                </div>
            </div>

            <div class="am-g infoLine">
                <div class="user_left" style="padding-left:20px">行业</div>
                <div class="user_right" >{industry}</div>
            </div>
            <div class="am-g infoLine">
                <div class="user_left" style="padding-left:20px">标签</div>
                <div class="user_right" >{tag}</div>
            </div>

            <div class="am-g infoLine">
                <div class="am-u-sm-12" style="padding-left:20px;font-size: 90%">{introduce}</div>
            </div>

            <div  id="leave_msg" style="width:100%; margin-top: 30px;margin-left: 3px;height: 150px">
                <div style="width:80%;margin: 0;padding: 0;float: left">
                    <textarea  id='leave_msg_sp'  rows='3' style="width: 100%;border:0;border-radius: 0;resize:none"  placeholder="给他留消息" ></textarea>
                </div>

                <div style="width:20%;margin: 0;padding: 0;float: left">
                    <button id="editCommit" style="height: 79px;padding-right: 2px;" type="button" class="am-btn am-btn-secondary am-btn-block" onclick="send_msg_sp()">发送</button>
                </div>

            </div>
        </div>

        <div class="bottomNav">
            <a href="/" class="back_link"><i class="am-icon-angle-left am-icon-md" style="padding-left:20px"></i></a>
        </div>
    </div> 
     <!-- page_specialist end -->
</div>

<!--[if (gte IE 9)|!(IE)]><!-->

<script src="http://static.9zhaowo.com/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="http://static.9zhaowo.com/assets/js/amazeui.min.js"></script>
<script src="http://static.9zhaowo.com/assets/js/handlebars.min.js"></script>
</body>
</html>

<script type="text/javascript">
    var pageUsers = [];
    var showDiv = {};
    var isEditChange = false;

    var showUsrID = '';
    var thisUser = {{{user.self}}};
    
    var template_userlist;
    var template_specialist;
    var template_msg;

    var lastPage = {{userList.lastPage}};
    var pageCur = 0;


    var shortIntroLen = 60;

    var isMsgLoad = false;
    var msgCurPage = 0;

    var IndustryToId = {
        '营销推广': 'yxtg',
        '网站开发': 'wzkf',
        '天使投资': 'tstz',
        '招聘求职': 'qzzp',
        '投资理财': 'tzlc',
        '美工设计': 'mgsj',
        '培训': 'px',
        '其他': 'qt'
    };

    var pathCur = '/';
    var pathDev = {
        '/': 'page_main',
        '/page': 'page_main',
        '/search': 'page_main',
        '/specialist': 'page_specialist',
        '/advsearch': 'page_search',
        '/personal': 'page_personal',
        '/msg': 'page_msg',
        '/edit': 'page_edit'
    }

    String.prototype.trim=function(){
        return this.replace(/(^\s*)|(\s*$)/g, '');
    }

    function dbg(msg){
        console.log(msg);
    }

    function getUserById(id){
        if(id == thisUser.uid){
            return thisUser;
        }
        
        for(var i in pageUsers.users){
            if(pageUsers.users[i].uid == id){
                return pageUsers.users[i];
            }
        }
        return null;
    }

    function parsePath(path){
        var result = {};
        var param = [];
        var arr = path.split('?');

        if(arr[1]){
            var arr3 = arr[1].split('&');
            for(var i in arr3){
                var arr4 = arr3[i].split('=');
                if(arr4.length == 2){
                    param[arr4[0]] =  arr4[1];
                }
            }
        }

        var arr2 = arr[0].split('/');
        result.lastPath = arr2.pop();
        result.path = arr[0];
        result.param = param;
        return result;
    }

    function buildSearchPage(pathx, pageId){
        var url = pathx.path;
        url += "?";
        var arr = [];
        for(var i in pathx.param){
            arr.push( i + "=" + pathx.param[i]);
        }
        url += arr.join('&');
        url += "\"&page=" + pageId;
        return url;
    }

    function getPageIdFromPath(path){
        if(!path || path == '/'){
            return 0;
        }
        var result = parsePath(path);
        if(result.path == '/search'){
            if(result.param.page){
                return result.param.page;
            }
            return 0;
        }
        return result.lastPath;
    }

    function getDevidByPath(path){
        if(path.length > 15 && path.substr(0, 12) == '/specialist/'){
            return pathDev['/specialist'];
        }
        if(path.length > 6 && path.substr(0, 6) == '/page/'){
            return pathDev['/page'];
        }
        return pathDev[path];
    }

    function getUidFromPath(path){
        var arr = path.split('?');
        var arr2 = arr[0].split('/');
        return arr2.pop();
    }

    function updatePageButton(path){
        var result = parsePath(path);
        var pageId = 0;
        var isSearch = false;

        if(result.path == '/search'){
            if(!result.param.page){
                pageId = 0;
            }
            else{
                pageId = parseInt(result.param.page);
            }
            isSearch = true;
        }
        else{
            pageId = parseInt(result.lastPath);
            if(isNaN(pageId)){
                pageId = 0;
            }
        }
        var prevId = pageId - 1;
        var nextId = pageId + 1;

        //前一页
        if(pageId != 0){
            $('#page_prev').removeAttr("disabled");
            if(isSearch){
                var url = buildSearchPage(result, prevId);
                $("#page_prev").attr("href", url);
            }
            else{
                if(prevId == 0){
                    $("#page_prev").attr("href", "/");
                }
                else{
                    $("#page_prev").attr("href", "/page/" + prevId);
                }
            }
        }
        else{
            $("#page_prev").attr("disabled", "disabled");
            $('#page_prev').removeAttr("href");
        }

        //后一页
        if(lastPage){
            $("#page_next").attr("disabled", "disabled");
            $('#page_next').removeAttr("href");
        }
        else{
            if(isSearch){
                var url = buildSearchPage(result, nextId);
                $("#page_next").attr("href", url);
            }
            else{
                $('#page_next').removeAttr("disabled");
                $("#page_next").attr("href", "/page/" + nextId);
            }
        }
    }

    function updateUserList(jsData){
        if(!jsData || jsData.err != 0 || !jsData.userList){
           return alert(jsData.msg);
        }

        lastPage = jsData.userList.lastPage;
        pageUsers = jsData.userList;
        if(pageUsers.users.length == 0){
            $("#list_msg_txt").text('没有找到相关信息哦 ...');
            $("#list_msg").show();
            $("#user_list").empty();
        }
        else{
            var users = pageUsers.users;
            for(var i in users){
                users[i].shortIntro = users[i].introduce.substr(0, shortIntroLen);
                if(users[i].introduce.length > 60){
                    users[i].shortIntro += " . . .";
                }
            }
            pageUsers.userList = [];
            var pageList = $("#user_list");
            var htmlAll = template_userlist(pageUsers);

            pageList.empty();
            pageList.append(htmlAll);
            history.pushState({did: 'page_main', path: pathCur}, null, pathCur);
        }

        if(showDiv.selector != "#page_main"){
            showDiv.hide();
            showDiv = $("#page_main");
            showDiv.show();
        }

        //滚动到头部
        $(window).scrollTop(0);

        //更新翻页按钮状态
        updatePageButton(pathCur);

        pageCur = getPageIdFromPath(pathCur);
    }

    function saveFirstPageUsers(jsData){
        if(!jsData || jsData.err != 0 || !jsData.userList ){
           return alert(jsData.msg);
        }
        pageUsers = jsData.userList;
        var users = pageUsers.users;
        for(var i in users){
            users[i].shortIntro = users[i].introduce.substr(0, shortIntroLen);
            if(users[i].introduce.length > 60){
                users[i].shortIntro += " . . .";
            }
        }
    }
    
    function updateSpecailistPage(uid){
        if(uid && uid == showUsrID){
            return;
        }

        var user = getUserById(uid);
        if(!user){
            return;
        }

        showUsrID = uid;
        var pageUser = $("#page_specialist");
        var html = template_specialist(user);
        pageUser.empty();
        pageUser.append(html);
    }

    function init_template(){
        var newTag = '{' + '{';
        var mewTag2 = '}' + '}';
        var newTag3 = 'src=\"{' + '{avatar}' + '}\"';
        var newTag4 = 'src=\"{' + '{../../peer_avatar}' + '}\"';
        var newTag5 = 'src=\"{' + '{../../avatar}' + '}\"';

        var source = $("#user_list_template").html();
        source = source.replace(/{/g, newTag);
        source = source.replace(/}/g, mewTag2);
        source = source.replace(/img_url_xxx/, newTag3);
        template_userlist = Handlebars.compile(source);

        source = $("#page_specialist").html();
        source = source.replace(/{/g, newTag);
        source = source.replace(/}/g, mewTag2);
        source = source.replace(/img_url_xxx/, newTag3);
        template_specialist = Handlebars.compile(source);

        source = $("#msg_template_container").html();
        source = source.replace(/{/g, newTag);
        source = source.replace(/}/g, mewTag2);
        source = source.replace(/peer_avatar_src=\"\"/g, 'peer_avatar_src');
        source = source.replace(/self_avatar_src=\"\"/g, 'self_avatar_src');

        source = source.replace(/peer_avatar_src/g, newTag4);
        source = source.replace(/self_avatar_src/g, newTag5);
        template_msg = Handlebars.compile(source);
    }

    function changePage(path){
        var pageDataUrl = path;
        if(pageDataUrl == '/'){
            pageDataUrl = '/page/0';
        }
        pathCur = path;
        $.ajax({
            url: pageDataUrl,
            success: updateUserList,
            dataType: 'json',
            beforeSend: function(req) {
                req.setRequestHeader('pjax', 'yes');
            }
        });

        $("#list_msg").hide();
    }
    
    function jump_subpage(ev){
        ev.preventDefault();
        var path = $(this).attr('href');
        if(!path){
            return;
        }

        //翻页需要更新数据
        if(this.id == "page_prev" || this.id == "page_next"){
            return changePage(path);
        }

        //其他无需更新数据
        var did = getDevidByPath(path);
        if(!did){
            dbg("wrong path, can't get did");
            return;
        }

        if(did == "page_personal" && !thisUser.uid){
            var url = encodeURIComponent('http://9zhaowo.com/user/wx_oauth');
            location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx45de252db48d8d3d&redirect_uri=" + url + "&response_type=code&scope=snsapi_userinfo&state=loginx#wechat_redirect";
            return;
        }

        if(did == 'page_specialist'){
            var uid = getUidFromPath(path);
            if(!uid){
                dbg("wrong path, can't get uid");
                return;
            }
            updateSpecailistPage(uid);
        }

        if(did == 'page_msg' && !isMsgLoad){
            load_msg();
        }

        showDiv.hide();
        showDiv = $("#" + did);
        showDiv.show();
        history.pushState({did: did, path: path}, null, path);

        if(did == 'page_specialist'){
            var uid = getUidFromLocation();
            if(uid == thisUser.uid){
                $("#leave_msg").hide();
            }
            else{
                $("#leave_msg").show();
            }
        }

        return false;
    }

    function jump_back(ev){
        ev.preventDefault();
        history.back();
    }

    function onSearch(ev){
        ev.preventDefault();
        var str = $("#searchInput").val();
        str = str.trim();

        if(str.length == 0){
           return;
        }

        path = "/search?key=\"" + str + "\"";
        changePage(path);
    }

    function onPopState(ev){
        var path = location.pathname;

        //翻页需要更新数据
        if(path.length > 6 && path.substr(0, 6) == '/page/'){
            var pageId = getPageIdFromPath(path);
            if(pageId != pageCur){
                changePage(path);
            }
            else{
                showDiv.hide();
                showDiv = $("#page_main");
                showDiv.show();
            }
            return;
        }

        var did = getDevidByPath(path);
        if(!did){
            dbg("wrong path, can't get did");
            return;
        }

        if(did == 'page_specialist'){
            var uid = getUidFromPath(path);
            if(!uid){
                dbg("wrong path, can't get uid");
                return;
            }
            updateSpecailistPage(uid);
        }

        //切换页面内容
        showDiv.hide();
        showDiv = $("#" + did);
        showDiv.show();

        //更新首页HASH
        if(did == 'page_main'){
            if(showUsrID != thisUser.uid){
                location.hash = "#" + showUsrID;
            }
        }
    }

    function updateFirtPage(){
        pageCur = getPageIdFromPath(location.pathname);
        var url = location.pathname + location.search;
        if(url == '/'){
            url = '/page/0';
        }
        $.ajax({
            url: url,
            success: saveFirstPageUsers,
            dataType: 'json',
            beforeSend: function(req) {
                req.setRequestHeader('pjax', 'yes');
            }
        });

        if(location.pathname == '/'){
            history.pushState({did: 'page_main', path: '/page/0'}, null, '/page/0');
        }
    }

    function advSearch(ev){
        ev.preventDefault();
        var key = $("#search_key").val().trim();
        var city = $("#search_city").val().trim();
        var industry = $("#search_indus").val().trim();

        if(!key && !city && !industry){
            return;
        }

        var path = "/search?";
        var arr = [];
        if(key.length > 0){
            arr.push('key=' + key);
        }
        if(city.length > 0){
            arr.push('city=' + city);
        }
        if(industry.length > 0){
            arr.push('industry=' + industry);
        }
        path += arr.join('&');
        changePage(path);
    }

    function onEditChange(){
        $("#editCommit").removeClass("am-disabled");
    }

    function commit_edit(){
        var name = $("#edit_name").val().trim();
        var phone = $("#edit_phone").val().trim();
        var tag = $("#edit_tag").val().trim();
        var intro = $("#edit_intro").val().trim();
        var industry = $("#edit_industry").val().trim();

        $.ajax({
            type: 'POST',
            url: '/user/update_personal',
            data: {name: name, phone: phone, tag: tag, intro: intro, industry: industry},
            dataType: 'json',
            success: function(jsData){
                if(!jsData || jsData.err){
                    alert('更新失败');
                    return;
                }
                $("#editCommit").addClass("am-disabled");
            }
        });
    }

    function load_msg(pageid){
        var page = 0;
        if(pageid){
            page = pageid;
        }
        $.ajax({
            type: 'GET',
            url: '/msg/list/' + page,
            dataType: 'json',
            success: function(jsData){
                if(!jsData || jsData.err){
                    alert('更新失败');
                    return;
                }
                var msg_cont = $("#msg_container").empty();
                var htmlAll = template_msg(jsData.msg);
                msg_cont.append(htmlAll);

                $(window).scrollTop(0);
            }
        });
    }

    function msg_send(from, to){
        var msg = $("#msg_res").val().trim();
        if(msg.length < 1){
            return;
        }
        if(msg.length > 256){
            alert('消息长度不能大于128');
            return;
        }

        $.ajax({
            type: 'GET',
            url: '/msg/post',
            data: {content: msg, from: from, to: to},
            dataType: 'json',
            success: function(jsData){
                if(!jsData || jsData.err){
                    alert('发送失败');
                    return;
                }
                load_msg(msgCurPage);
            }
        });
    }

    function getUidFromLocation(){
        var str = location.href;
        var arr = str.split('/');
        var uid = arr.pop();
        return uid;
    }

    function send_msg_sp(){
        var msg = $("#leave_msg_sp").val().trim();
        if(msg.length < 1){
            return;
        }
        if(msg.length > 256){
            alert('消息长度不能大于128');
            return;
        }

        var to = getUidFromLocation();
        var from = thisUser.uid;
        $.ajax({
            type: 'GET',
            url: '/msg/post',
            data: {content: msg, from: from, to: to},
            dataType: 'json',
            success: function(jsData){
                if(!jsData || jsData.err){
                    alert('发送失败');
                    return;
                }
                load_msg(msgCurPage);
            }
        });
    }

    function updateIndustry(){
        console.log(location);
        var path = parsePath(location.href);
        if(path.param && path.param['industry']){
            var industry = decodeURI(path.param['industry']);
            var id = IndustryToId[industry];
            if(id){
                $("#" + id).addClass('picked');
            }
        }
    }

    $(document).ready(function () {
        updateIndustry();

        //获取第一页数据
        updateFirtPage();

        //记录当前显示页面DIV
        showDiv = $("#page_main");

        //更新翻页按钮状态
        updatePageButton(location.pathname);

        //监控子页面跳转信息
        $("#container").delegate(".front_link", "click", jump_subpage);
        $("#container").delegate(".back_link", "click", jump_back);
        $("#formSearch").submit(onSearch);
        $("#advSearch").click(advSearch);



        //
        $("#edit_name").change(onEditChange);
        $("#edit_phone").change(onEditChange);
        $("#edit_tag").change(onEditChange);
        $("#edit_intro").change(onEditChange);
        $("#edit_industry").change(onEditChange);

        $("#editCommit").click(commit_edit);

        if (thisUser.type != 8) {
            $("#be_spec").show();
        }

        //监控前进、后退事件
        $(window).on('popstate', onPopState);

        //编译模板
        init_template();
    });

</script>