<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>就找我</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="http://static.9zhaowo.com/assets/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!--<link rel="icon" sizes="192x192" href="http://static.9zhaowo.com/assets/i/app-icon72x72@2x.png">-->

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="http://static.9zhaowo.com/assets/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="http://static.9zhaowo.com/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="http://static.9zhaowo.com/assets/css/app.css">
    
    <style id="bgtyle"  type="text/css">
        .userBack {
            background-color: #fff;
            font-family: 微软雅黑;
            border: 1px solid #dedede;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            padding: 5px 5px;
            margin:5px
        }
        
        .bottomNav {
            background-color: white;
            z-index:999;
            position:fixed;
            bottom:0;
            left:0;
            width:100%;
            _position:absolute;
            border-top: 1px solid #CCCCCC;
            padding-top: 5px;
            padding-bottom: 5px;
            height:49px
        }
        
        .infoLine {
            background-color: white;
            margin-top: 2px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .front_link {
        }

        .back_link {
        }
    </style>
</head>
<body style="background-color: #F0EFF4;">
    <div id="container" class="am-container" style="padding: 0px;">

    <!-- page_main start -->
    <div id="page_main" style="">
        <header name="header" data-am-widget="header" class="am-header am-header-default">
            <div class="am-header-left am-header-nav">
                <a href="/" class="">
                    <i class="am-header-icon am-icon-home"></i>
                </a>
            </div>
            <h1 class="am-header-title">就找我</h1>
        </header>

        <div id="list_msg" style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto; display: none; margin: 10px 10px;color: #A8A8A8;">
            <p><i id="list_msg_txt"></i></p>
            <hr data-am-widget='divider' style='margin: 5px 0px;' class='am-divider am-divider-default' />
        </div>

        <!-- user list -->
        <div id="user_list">
            {{#userList.users}}
            <div id='{{uid}}' class="userBack">
                <div class='am-g am-intro-bd' style='background-color: white;'>
                    <div class='am-intro-left am-u-sm-3'>
                        <a href='/specialist/{{uid}}' class='front_link'>
                            <img class='am-radius am-img-thumbnail'   src='{{avatar}}' alt='小娜' width='120px' height='120px'/>
                        </a>
                    </div>
                    <div class='am-intro-right am-u-sm-9'>
                       <p style='margin: 0px;'>
                           <strong style='margin-right: 10px;'>{{name}}</strong>
                           <strong>{{specialist}}</strong>
                        </p>
                       <hr data-am-widget='divider' style='margin: 5px 0px;' class='am-divider am-divider-default' />
                    </div>
                    <div class='am-intro-right am-u-sm-9'>{{shortIntro}}</div>
                </div>
            </div>
            {{/userList.users}}
        </div>
        
       <div id="user_list_template" style="display:none">
            {#users}
            <div id='{uid}' class="userBack">
                <div class='am-g am-intro-bd' style='background-color: white;'>
                    <div class='am-intro-left am-u-sm-3'>
                        <a href='/specialist/{uid}' class='front_link'>
                            <img class='am-radius am-img-thumbnail' img_url_xxx alt='小娜' width='120px' height='120px'/>
                        </a>
                    </div>
                    <div class='am-intro-right am-u-sm-9'>
                       <p style='margin: 0px;'>
                           <strong style='margin-right: 10px;'>{name}</strong>
                           <strong>{specialist}</strong>
                        </p>
                       <hr data-am-widget='divider' style='margin: 5px 0px;' class='am-divider am-divider-default' />
                    </div>
                    <div class='am-intro-right am-u-sm-9'>{shortIntro}</div>
                </div>
            </div>
            {/users}
        </div>
        
        <!-- page select start -->
        <ul data-am-widget="pagination" class="front_link am-pagination am-pagination-default">
            <li class="am-pagination-prev">
                <a id="page_prev" href="#" class="front_link am-btn am-btn-link">上一页</a>
            </li>
            <li class="am-pagination-next ">
                <a id="page_next" href="/page/1"  class="front_link am-btn am-btn-link" ">下一页</a>
            </li>
        </ul>

        <!-- navbar start -->
        <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default" id=""
             style=" background-color: white;    border-top: 1px solid #CCCCCC;padding-top: 5px;padding-bottom: 5px;">
            <div class="am-u-sm-8" style="padding-left: 0px;padding-right: 0px;">
                <div class="am-g">
                    <div class="am-u-lg-6" style="padding-left: 5px;">
                        <form id="formSearch" action="/search">
                        <input id="searchInput" type="search" class="am-form-field am-round">
                        </form>
                        <!--<div class="am-input-group">
                            <input type="search" class="am-form-field am-round">
                            <span class="am-input-group-btn" style="line-height:39px">
                                <button class="am-btn am-btn-default am-round" type="button" onclick="search()"><span  class="am-icon-search"></span></button>
                            </span>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="am-u-sm-2" style="line-height:37px;padding: 0px;">
                <a href="/advsearch" class="front_link am-icon-btn am-icon-search-plus" style="width: 39px;height: 39px;line-height: 39px;"></a>
            </div>
            <div class="am-u-sm-2" style="line-height:37px;padding: 0px;">
                <a href="/personal" class="front_link am-icon-btn am-icon-user" style="width: 39px;height: 39px;line-height: 39px;"></a>
            </div>
        </div>
    </div>
    <!-- page_main end -->

    <!-- page_msg start -->
    <div id="page_msg" style="display:none">
        <img src="http://static.9zhaowo.com/img/msg.jpg" width="100%"/><img>

        <div class="bottomNav">
            <a href="/page_user" class="back_link"><i class="am-icon-angle-left am-icon-md" style="padding-left:20px"></i></a>
        </div>
    </div>
    <!-- page_msg end -->

    <!-- page_edit start -->
    <div id="page_edit" style="display:none">
        <div class="am-g" style="    background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
            <div class="am-u-sm-3" style="padding-left:20px">姓名</div>
            <div class="am-u-sm-9" style="padding-left:20px">{{user.info.name}}</div>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
            <div class="am-u-sm-3" style="padding-left:20px">手机号</div>
            <div class="am-u-sm-9" style="padding-left:20px">{{user.info.mobile}} <i>(他人不可见)</i></div>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
            <div class="am-u-sm-3" style="padding-left:20px">地区</div>
            <div class="am-u-sm-9" style="padding-left:20px">{{user.info.city}}</div>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
            <div class="am-u-sm-3" style="padding-left:20px">标签</div>
            <div class="am-u-sm-9" style="padding-left:20px">{{user.info.tag}}</div>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
            <div class="am-u-sm-3" style="padding-left:20px">简介</div>
            <div class="am-u-sm-9" style="padding-left:20px">{{user.info.introduce}}</div>
        </div>

        <div class="bottomNav">
            <a href="/page_user" class="back_link"><i class="am-icon-angle-left am-icon-md" style="padding-left:20px"></i></a>
        </div>
    </div>
    <!-- page_edit end -->

    <!-- page_personal start -->
    <div id="page_personal" style="display:none">
        <div class="am-g" style="    background-color: white;    margin-top: 20px;    padding-top: 20px;    padding-bottom: 20px;">
            <div class="am-u-sm-3">
                <img class="am-radius am-img-thumbnail" alt="140*140" src="{{user.info.avatar}}" width="140" height="140"/>
            </div>
            <div class="am-u-sm-9">
                <div class="am-u-sm-12">{{user.info.name}}</div>
                <div class="am-u-sm-12">{{user.info.specialist}}</div>
            </div>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 30px;    padding-top: 10px;    padding-bottom: 10px;">
            <a href="/edit" class="front_link">
                <div style="padding-left:20px">资料</div>
            </a>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
            <a href="/msg" class="front_link">
                <div style="padding-left:20px">私信</div>
            </a>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
            <a href="/specialist/{{user.info.uid}}" class="front_link">
                <div style="padding-left:20px">个人主页</div>
            </a>
        </div>

        <div class="bottomNav">
            <a href="/" class="back_link"><i class="am-icon-angle-left am-icon-md" style="padding-left:20px"></i></a>
        </div>
    </div>
    <!-- page_personal end -->

    <!-- page_search start-->
    <div id="page_search" style="display:none">
        <div class="am-g" style="    background-color: white;    margin-top: 30px;    padding-top: 10px; padding-bottom: 10px;">
            <div class="am-u-sm-3" style="padding-left:20px">关键字</div>
            <div class="am-u-sm-9" style="padding-left:20px">
                <input type="text" id="search_key" class="am-form-field am-radius" />
            </div>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 5px;    padding-top: 10px; padding-bottom: 10px;">
            <div class="am-u-sm-3" style="padding-left:20px">区域</div>
            <div class="am-u-sm-9" style="padding-left:20px">
                <input type="text" id="search_city" class="am-form-field am-radius" />
            </div>
        </div>

        <div class="am-g" style="    background-color: white;    margin-top: 5px;    padding-top: 10px; padding-bottom: 10px;">
        <div class="am-u-sm-3" style="padding-left:20px">行业</div>
        <div class="am-u-sm-9" style="padding-left:20px">
            <input type="text" id="search_indus" class="am-form-field am-radius" />
        </div>
        </div>

        <div style="z-index:999; position:fixed; bottom:0; left:0; width:100%; _position:absolute;padding-top: 5px;height:49px">
            <a href="/search" id="advSearch" class="am-btn am-btn-primary" style="width: 100%;">搜索</a>
        </div>
    </div>
    <!-- page_search end -->

     <!-- page_specialist template -->
     <div id="page_specialist" style="display:none">
        <div data-am-widget="intro" class="am-intro am-cf am-intro-default">
            <div class="am-intro-hd">
                <h2 class="am-intro-title">{name}</h2>
                <a class="am-intro-more am-intro-more-top " href="#more">{special}</a>
            </div>

            <div class="am-g am-intro-bd" style="background-color: white;">
                <div class="am-intro-left am-u-sm-5"><img class="am-radius am-img-thumbnail" img_url_xxx alt="小娜" width="120px" height="120px"/></div>
                <div class="am-intro-right am-u-sm-7">
                    <p>{name}</p>
                    <p>地区: {city}</p>
                </div>
            </div>

            <div class="am-g infoLine">
                <div class="am-u-sm-3" style="padding-left:20px">行业</div>
                <div class="am-u-sm-9" style="padding-left:20px">{industry}</div>
            </div>
            <div class="am-g infoLine">
                <div class="am-u-sm-3" style="padding-left:20px">标签</div>
                <div class="am-u-sm-9" style="padding-left:20px">{tag}</div>
            </div>

            <div class="am-g infoLine">
                <div class="am-u-sm-3" style="padding-left:20px">简介</div>
                <div class="am-u-sm-9" style="padding-left:20px">{introduce}</div>
            </div>

            <div class="am-g infoLine">
                <img src="http://static.9zhaowo.com/img/lv_msg.jpg" width="100%"/><img>
            </div>
        </div>

        <div class="bottomNav">
            <a href="/" class="back_link"><i class="am-icon-angle-left am-icon-md" style="padding-left:20px"></i></a>
        </div>
    </div> 
     <!-- page_specialist end -->

</div>

<!--[if (gte IE 9)|!(IE)]><!-->

<script src="http://static.9zhaowo.com/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="http://static.9zhaowo.com/assets/js/amazeui.min.js"></script>
<script src="http://static.9zhaowo.com/assets/js/handlebars.min.js"></script>
</body>
</html>

<script type="text/javascript">
    var pageUsers = [];
    var showDiv = {};

    var showUsrID = '';
    var thisUser = {{{user.self}}};
    
    var template_userlist;
    var template_specialist;

    var lastPage = {{userList.lastPage}};
    var pageCur = 0;

    var shortIntroLen = 60;

    var pathCur = '/';
    var pathDev = {
        '/': 'page_main',
        '/page': 'page_main',
        '/search': 'page_main',
        '/specialist': 'page_specialist',
        '/advsearch': 'page_search',
        '/personal': 'page_personal',
        '/msg': 'page_msg',
        '/edit': 'page_edit'
    }

    String.prototype.trim=function(){
        return this.replace(/(^\s*)|(\s*$)/g, '');
    }

    function dbg(msg){
        console.log(msg);
    }

    function getUserById(id){
        if(id == thisUser.uid){
            return thisUser;
        }
        
        for(var i in pageUsers.users){
            if(pageUsers.users[i].uid == id){
                return pageUsers.users[i];
            }
        }
        return null;
    }

    function parsePath(path){
        var result = {};
        var param = [];
        var arr = path.split('?');

        if(arr[1]){
            var arr3 = arr[1].split('&');
            for(var i in arr3){
                var arr4 = arr3[i].split('=');
                if(arr4.length == 2){
                    param[arr4[0]] =  arr4[1];
                }
            }
        }

        var arr2 = arr[0].split('/');
        result.lastPath = arr2.pop();
        result.path = arr[0];
        result.param = param;
        return result;
    }

    function buildSearchPage(pathx, pageId){
        var url = pathx.path;
        url += "?";
        var arr = [];
        for(var i in pathx.param){
            arr.push( i + "=" + pathx.param[i]);
        }
        url += arr.join('&');
        url += "\"&page=" + pageId;
        return url;
    }

    function getPageIdFromPath(path){
        if(!path || path == '/'){
            return 0;
        }
        var result = parsePath(path);
        if(result.path == '/search'){
            if(result.param.page){
                return result.param.page;
            }
            return 0;
        }
        return result.lastPath;
    }

    function getDevidByPath(path){
        if(path.length > 15 && path.substr(0, 12) == '/specialist/'){
            return pathDev['/specialist'];
        }
        if(path.length > 6 && path.substr(0, 6) == '/page/'){
            return pathDev['/page'];
        }
        return pathDev[path];
    }

    function getUidFromPath(path){
        var arr = path.split('?');
        var arr2 = arr[0].split('/');
        return arr2.pop();
    }

    function updatePageButton(path){
        var result = parsePath(path);
        var pageId = 0;
        var isSearch = false;

        if(result.path == '/search'){
            if(!result.param.page){
                pageId = 0;
            }
            else{
                pageId = parseInt(result.param.page);
            }
            isSearch = true;
        }
        else{
            pageId = parseInt(result.lastPath);
            if(isNaN(pageId)){
                pageId = 0;
            }
        }
        var prevId = pageId - 1;
        var nextId = pageId + 1;

        //前一页
        if(pageId != 0){
            $('#page_prev').removeAttr("disabled");
            if(isSearch){
                var url = buildSearchPage(result, prevId);
                $("#page_prev").attr("href", url);
            }
            else{
                if(prevId == 0){
                    $("#page_prev").attr("href", "/");
                }
                else{
                    $("#page_prev").attr("href", "/page/" + prevId);
                }
            }
        }
        else{
            $("#page_prev").attr("disabled", "disabled");
            $('#page_prev').removeAttr("href");
        }

        //后一页
        if(lastPage){
            $("#page_next").attr("disabled", "disabled");
            $('#page_next').removeAttr("href");
        }
        else{
            if(isSearch){
                var url = buildSearchPage(result, nextId);
                $("#page_next").attr("href", url);
            }
            else{
                $('#page_next').removeAttr("disabled");
                $("#page_next").attr("href", "/page/" + nextId);
            }
        }
    }

    function updateUserList(jsData){
        if(!jsData || jsData.err != 0 || !jsData.userList){
           return alert(jsData.msg);
        }

        lastPage = jsData.userList.lastPage;
        pageUsers = jsData.userList;
        if(pageUsers.users.length == 0){
            $("#list_msg_txt").text('没有找到相关信息哦 ...');
            $("#list_msg").show();
            $("#user_list").empty();
        }
        else{
            var users = pageUsers.users;
            for(var i in users){
                users[i].shortIntro = users[i].introduce.substr(0, shortIntroLen);
                if(users[i].introduce.length > 60){
                    users[i].shortIntro += " . . .";
                }
            }
            pageUsers.userList = [];
            var pageList = $("#user_list");
            var htmlAll = template_userlist(pageUsers);

            pageList.empty();
            pageList.append(htmlAll);
            history.pushState({did: 'page_main', path: pathCur}, null, pathCur);
        }

        if(showDiv.selector != "#page_main"){
            showDiv.hide();
            showDiv = $("#page_main");
            showDiv.show();
        }

        //滚动到头部
        $(window).scrollTop(0);

        //更新翻页按钮状态
        updatePageButton(pathCur);

        pageCur = getPageIdFromPath(pathCur);
    }

    function saveFirstPageUsers(jsData){
        if(!jsData || jsData.err != 0 || !jsData.userList ){
           return alert(jsData.msg);
        }
        pageUsers = jsData.userList;
        var users = pageUsers.users;
        for(var i in users){
            users[i].shortIntro = users[i].introduce.substr(0, shortIntroLen);
            if(users[i].introduce.length > 60){
                users[i].shortIntro += " . . .";
            }
        }
    }
    
    function updateSpecailistPage(uid){
        if(uid && uid == showUsrID){
            return;
        }

        var user = getUserById(uid);
        if(!user){
            return;
        }

        showUsrID = uid;
        var pageUser = $("#page_specialist");
        var html = template_specialist(user);
        pageUser.empty();
        pageUser.append(html);
    }

    function init_template(){
        var newTag = '{' + '{';
        var mewTag2 = '}' + '}';
        var newTag3 = 'src=\"{' + '{avatar}' + '}\"';
        var source = $("#user_list_template").html();
        source = source.replace(/{/g, newTag);
        source = source.replace(/}/g, mewTag2);
        source = source.replace(/img_url_xxx/, newTag3);
        template_userlist = Handlebars.compile(source);

        source = $("#page_specialist").html();
        source = source.replace(/{/g, newTag);
        source = source.replace(/}/g, mewTag2);
        source = source.replace(/img_url_xxx/, newTag3);
        template_specialist = Handlebars.compile(source);
    }

    function changePage(path){
        var pageDataUrl = path;
        if(pageDataUrl == '/'){
            pageDataUrl = '/page/0';
        }
        pathCur = path;
        $.ajax({
            url: pageDataUrl,
            success: updateUserList,
            dataType: 'json',
            beforeSend: function(req) {
                req.setRequestHeader('pjax', 'yes');
            }
        });

        $("#list_msg").hide();
    }
    
    function jump_subpage(ev){
        ev.preventDefault();
        var path = $(this).attr('href');
        if(!path){
            return;
        }

        //翻页需要更新数据
        if(this.id == "page_prev" || this.id == "page_next"){
            return changePage(path);
        }

        //其他无需更新数据
        var did = getDevidByPath(path);
        if(!did){
            dbg("wrong path, can't get did");
            return;
        }

        if(did == 'page_specialist'){
            var uid = getUidFromPath(path);
            if(!uid){
                dbg("wrong path, can't get uid");
                return;
            }
            updateSpecailistPage(uid);
        }

        showDiv.hide();
        showDiv = $("#" + did);
        showDiv.show();
        history.pushState({did: did, path: path}, null, path);

        return false;
    }

    function jump_back(ev){
        ev.preventDefault();
        history.back();
    }

    function onSearch(ev){
        ev.preventDefault();
        var str = $("#searchInput").val();
        str = str.trim();

        if(str.length == 0){
           return;
        }

        path = "/search?key=\"" + str + "\"";
        changePage(path);
    }

    function onPopState(ev){
        var path = location.pathname;

        //翻页需要更新数据
        if(path.length > 6 && path.substr(0, 6) == '/page/'){
            var pageId = getPageIdFromPath(path);
            if(pageId != pageCur){
                changePage(path);
            }
            else{
                showDiv.hide();
                showDiv = $("#page_main");
                showDiv.show();
            }
            return;
        }

        var did = getDevidByPath(path);
        if(!did){
            dbg("wrong path, can't get did");
            return;
        }

        if(did == 'page_specialist'){
            var uid = getUidFromPath(path);
            if(!uid){
                dbg("wrong path, can't get uid");
                return;
            }
            updateSpecailistPage(uid);
        }

        //切换页面内容
        showDiv.hide();
        showDiv = $("#" + did);
        showDiv.show();

        //更新首页HASH
        if(did == 'page_main'){
            if(showUsrID != thisUser.uid){
                location.hash = "#" + showUsrID;
            }
        }
    }

    function updateFirtPage(){
        pageCur = getPageIdFromPath(location.pathname);
        var url = location.pathname + location.search;
        if(url == '/'){
            url = '/page/0';
        }
        $.ajax({
            url: url,
            success: saveFirstPageUsers,
            dataType: 'json',
            beforeSend: function(req) {
                req.setRequestHeader('pjax', 'yes');
            }
        });

        if(location.pathname == '/'){
            history.pushState({did: 'page_main', path: '/page/0'}, null, '/page/0');
        }
    }

    function advSearch(ev){
        ev.preventDefault();
        var key = $("#search_key").val().trim();
        var city = $("#search_city").val().trim();
        var industry = $("#search_indus").val().trim();

        if(!key && !city && !industry){
            return;
        }

        var path = "/search?";
        var arr = [];
        if(key.length > 0){
            arr.push('key=' + key);
        }
        if(city.length > 0){
            arr.push('city=' + city);
        }
        if(industry.length > 0){
            arr.push('industry=' + industry);
        }
        path += arr.join('&');
        changePage(path);
    }

    $(document).ready(function () {
        //获取第一页数据
        updateFirtPage();

        //记录当前显示页面DIV
        showDiv = $("#page_main");

        //更新翻页按钮状态
        updatePageButton(location.pathname);

        //监控子页面跳转信息
        $("#container").delegate(".front_link", "click", jump_subpage);
        $("#container").delegate(".back_link", "click", jump_back);
        $("#formSearch").submit(onSearch);
        $("#advSearch").click(advSearch);

        //监控前进、后退事件
        $(window).on('popstate', onPopState);

        //编译模板
        init_template();
    });
</script>