<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title >{{name}}&nbsp;&nbsp;{{specialist}}</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="http://static.9zhaowo.com/assets/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="http://static.9zhaowo.com/assets/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="http://static.9zhaowo.com/assets/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="http://static.9zhaowo.com/assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="http://static.9zhaowo.com/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="http://static.9zhaowo.com/assets/css/app.css">
</head>
<body style="background-color: #F0EFF4;">
    <div class="am-container" style="padding: 0px;">
     
     <!-- user_page start -->
     <div id="user_page">
        <div data-am-widget="intro" class="am-intro am-cf am-intro-default">
            <div class="am-intro-hd">
                <h2 class="am-intro-title">{{name}}</h2>
                <a class="am-intro-more am-intro-more-top " href="#more">{{special}}</a>
            </div>

            <div class="am-g am-intro-bd" style="background-color: white;">
                <div class="am-intro-left am-u-sm-5"><img class="am-radius am-img-thumbnail" src="{{avatar}}" alt="小娜" width="120px" height="120px"/></div>
                <div class="am-intro-right am-u-sm-7">
                    <p>{{name}}</p>
                    <p>地区：{{city}}</p>
                </div>
            </div>

            <div class="am-g" style="    background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
                <div class="am-u-sm-3" style="padding-left:20px">行业</div>
                <div class="am-u-sm-9" style="padding-left:20px">{{industry}}</div>
            </div>
            <div class="am-g" style="    background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
                <div class="am-u-sm-3" style="padding-left:20px">标签</div>
                <div class="am-u-sm-9" style="padding-left:20px">{{tag}}</div>
            </div>

            <div class="am-g" style="background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
                <div class="am-u-sm-3" style="padding-left:20px">简介</div>
                <div class="am-u-sm-9" style="padding-left:20px">{{introduce}}</div>
            </div>

            <div class="am-g" style="background-color: white;    margin-top: 2px;    padding-top: 10px;    padding-bottom: 10px;">
                <img src="http://static.9zhaowo.com/img/lv_msg.jpg" width="100%"/><img>
            </div>
        </div>

        <div style="background-color: white; z-index:999; position:fixed; bottom:0; left:0; width:100%; _position:absolute;border-top: 1px solid #CCCCCC;padding-top: 5px;padding-bottom: 5px;height:49px">
            <a href="" onclick="jump_back()"><i class="am-icon-angle-left am-icon-md" style="padding-left:20px"></i></a>
        </div>
    </div> 
    
     <!-- user_page end -->
    </div>
    <script src="http://static.9zhaowo.com/assets/js/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8 ]>
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="assets/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <script src="http://static.9zhaowo.com/assets/js/amazeui.min.js"></script>
</body>

<script type="text/javascript">
    function jump_back(){
        history.pushState(null, null, url);
        $("#tt").text("邹大爷")
        //window.history.back();
        //alert(navigator.userAgent);
        //CloseWebPage();
    }
    
    function CloseWebPage() {  
        if (navigator.userAgent.indexOf("MSIE") > 0) {  
            if (navigator.userAgent.indexOf("MSIE 6.0") > 0) {  
                window.opener = null; window.close();  
            }  
            else {  
                window.open('', '_top'); window.top.close();  
            }  
        }
        else if (navigator.userAgent.indexOf("Firefox") > 0) {  
            window.location.href = 'about:blank ';  
            //window.history.go(-2);  
        }  
        else {  
            window.opener = null;   
            window.open('', '_self', '');  
            window.close();  
        }  
    }  
</script>